{% extends "layout.html" %}

{% block header %}
    <h1>Search for articles</h1>
{% endblock %}

{% block content %}
<div class="container" ng-app="article">

    {% verbatim %}
        <!-- This tag allow adding AngularJS sintaxis within a Django Template file -->
    {% endverbatim %}

    <div ng-view></div>

</div>


<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/bower_components/angular-route/angular-route.js"></script>
<script src="/static/bower_components/angular-resource/angular-resource.js"></script>
<script src="/static/app.js"></script>
<script src="/static/article/ArticleService.js"></script>
<script src="/static/article/ArticleControllers.js"></script>

{% endblock %}

